---
import Layout from "@layouts/Layout.astro";
import CardPorProducto from "@components/ui/CardPorProducto.astro";
import { productos_es } from "@lib/products_es";
import pdfs_carta from "@lib/pdfs_carta";
import pdfs_tabla from "@lib/pdfs_tabla";
import { marcas_es } from "@lib/marcas_es";
import { marcas } from "@lib/marcas";
import LanguageSwitch from "@components/ui/LanguageSwitch";

export const prerender = true;
export async function getStaticPaths() {
  return marcas_es.map((marca) => ({
    params: { marca: marca.id },
  }));
}

const { marca } = Astro.params;
const marcaData = marcas_es.find((m) => m.id === marca);

const marca_eng_id = marcaData.ingles ? marcaData.ingles : "";

if (!marcaData) {
  throw new Error(`Marca con ID ${marca} no encontrada`);
}

// Filtrar los productos que contienen el ID de la marca en su lista de segmentos
const filteredProductos = productos_es.filter((product) =>
  product.segmentos.includes(marcaData.id)
);
---

<LanguageSwitch
  client:only="react"
  url={`/brands/${marca_eng_id}`}
  idioma={"ES"}
/>
<Layout
  canonical="https://www.allforwater.com/es/marca/"
  +
  marcaData.id
  keywords={marcaData.seo_keywords}
  description={marcaData.seo_description}
  title={marcaData.seo_title}
>
  <section
    class="mt-[96px] bg-white flex flex-col items-center justify-center text-center sm:p-10 p-2"
  >
    <h1 class="text-light-blue font-semibold text-5xl px-5 text-center py-10">
      {marcaData.nombre}
    </h1>
    <p
      class="max-w-[800px] text-custom-grey font-light px-5 text-center text-sm sm:text-base"
    >
      {marcaData.descripcion}
    </p>

    <div class="flex flex-wrap gap-5 justify-center items-start">
      {
        filteredProductos.map((product) => {
          const productPdfs_tabla = pdfs_tabla.filter((pdf) =>
            product.pdfs_tabla.includes(pdf.id)
          );
          const productPdfs_carta = pdfs_carta.filter((pdf) =>
            product.pdfs_carta.includes(pdf.id)
          );

          return (
            <div
              class={`${filteredProductos.length > 1 ? "w-fit" : "w-screen"}`}
            >
              <CardPorProducto
                id={product.id}
                imgSrc={product.fotoUrl || "vacio"}
                text={product.nombre}
                desc={product.descripcion}
                pdfs_tabla={productPdfs_tabla}
                pdfs_carta={productPdfs_carta}
              />
            </div>
          );
        })
      }
    </div>
  </section>
</Layout>
