---
import Layout from "@layouts/Layout.astro";
import { items } from "../lib/categories.js";
import CardPorProducto from "@components/ui/CardPorProducto.astro";
import { productos } from "@lib/products";
import pdfs_carta from "@lib/pdfs_carta";
import pdfs_tabla from "@lib/pdfs_tabla";
import { segmentos } from "@lib/segmentos";

export async function getStaticPaths() {
  return items.map((item) => ({
    params: { id: item.id.toString() },
  }));
}

const { id } = Astro.params;

const item = items.find((product) => product.id.toString() === id);

const filteredProductos = productos.filter((product) =>
  item.productos.includes(product.id)
);

const descripcion = item.descripcion;

if (!item) {
  throw new Error(`item with ID ${id} not found`);
}
---

<Layout title={item.nombre_url}>
  <section class="mt-[96px] bg-white flex flex-col items-center">
    <h1 class="text-header-bg font-semibold text-5xl px-5 text-center py-10">
      {
        (item.nombre_url || item.nombre).charAt(0).toUpperCase() +
          (item.nombre_url || item.nombre).slice(1)
      }
    </h1>
    <div
      class="max-w-[800px] text-custom-grey font-light px-5 text-center text-sm sm:text-base"
    >
      <div set:html={descripcion} />
    </div>
    {filteredProductos.map((product) => <h2>{product.marcas}</h2>)}
    <div
      class="grid gap-5 w-3/4 mt-10 mb-20 justify-center items-center grid-cols-1 lg:grid-cols-4"
    >
      {
        filteredProductos.map((product) => {
          const productPdfs_tabla = pdfs_tabla.filter((pdf) =>
            product.pdfs_tabla.includes(pdf.id)
          );
          const productPdfs_carta = pdfs_carta.filter((pdf) =>
            product.pdfs_carta.includes(pdf.id)
          );
          const productSegmentos = segmentos.filter((segmento) =>
            product.segmentos.includes(segmento.id)
          );
          return (
            <CardPorProducto
              imgSrc={product.fotoUrl}
              text={product.nombre}
              desc={product.descripcion}
              pdfs_tabla={productPdfs_tabla}
              pdfs_carta={productPdfs_carta}
            />
          );
        })
      }
    </div>
  </section>
</Layout>
