---
interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  currentPage?: string;
}
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Icon } from "astro-icon/components";
// import ViewTransitions from "astro/components/ViewTransitions.astro";
// import { ClientRouter } from "astro:transitions";

const { title, description, keywords, canonical, currentPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Clarity tracking code for https://allforwater.com -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "r4odtughnl");
    </script>
    <!-- bing meta tag -->
    <meta name="msvalidate.01" content="C0D833C41B698F3CA3DCBD2142BF52E7" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQXY0F2QXT"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());

      // @ts-ignore
      gtag("config", "G-HQXY0F2QXT");
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta
      property="og:image"
      content="/fotos/favicon_io/apple-touch-icon.png"
    />
    <link rel="canonical" href={canonical} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="AllForWater" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta
      property="og:image"
      content="/fotos/favicon_io/apple-touch-icon.png"
    />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="AllForWater" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/fotos/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/fotos/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fotos/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/fotos/favicon_io/site.webmanifest" />

    <script>
      document.addEventListener("contextmenu", (event) => {
        if ((event.target as HTMLElement).tagName === "IMG") {
          event.preventDefault();
          alert("No puedes guardar esta imagen.");
        }
      });
    </script>
    <title>{title}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
      body {
        max-width: 100vw;
        overflow-x: hidden;
      }
    </style>
    <!-- <ClientRouter /> -->
  </head>
  <body class="w-screen">
    <style>
      /* HTML: <div class="loader"></div> */
      #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        display: grid;
        place-items: center;
        display: none;
      }
      /* HTML: <div class="loader"></div> */
      .loader {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 40px;
        background: radial-gradient(circle closest-side, #5ca9cc 94%, #0000)
          right/calc(200% - 1em) 100%;
        animation: l24 1s infinite alternate linear;
      }
      .loader::before {
        content: "Loading...";
        line-height: 1em;
        color: #0000;
        background: inherit;
        background-image: radial-gradient(circle closest-side, #fff 94%, #000);
        -webkit-background-clip: text;
        background-clip: text;
      }

      @keyframes l24 {
        100% {
          background-position: left;
        }
      }
    </style>
    <script>
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          // If the page is loaded from cache (back/forward navigation), hide the loader
          document.getElementById("loader").style.display = "none";
        }
      });

      // Optionally, hide the loader on normal load after content is ready
      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });
    </script>
    <Header currentPage={currentPage} />
    <main>
      <slot />
      <div id="loader">
        <div class="loader"></div>
      </div>
    </main>
    <Footer />
    <button
      id="scroll-top-fixed"
      aria-label="Scroll to top"
      class="opacity-0 duration-300 ease-in-out fixed bottom-5 left-5 flex justify-center items-center rounded-full h-12 w-12 bg-slate-300 hover:bg-slate-100 transition-all"
    >
      <Icon class="" name="ri:arrow-up-s-line" size={25} />
    </button>
    <script is:inline>
      window.addEventListener("scroll", (e) => {
        // flex
        if (scrollY > 800) {
          document
            .getElementById("scroll-top-fixed")
            .classList.remove("opacity-0");
        } else {
          document
            .getElementById("scroll-top-fixed")
            .classList.add("opacity-0");
        }
      });
      document
        .getElementById("scroll-top-fixed")
        .addEventListener("click", (e) => {
          e.preventDefault(); // Evitar el comportamiento predeterminado del enlace
          window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>
  </body>
  <script></script>
</html>
