---
export const prerender = true;
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Share from "../components/Share.astro";
import Footer from "../components/Footer.astro";
import {
  type ReqInit,
  type Category,
  type Product,
  serializeUrl,
} from "../../@types/DBReq";
// const url = `https://ahavah.fly.dev/api/collections/products/records?filter=(category.name='${name}'%20&&%20noMostrar=${false})&expand=sub_categories&perPage=1000&sort=-created`;
let queryParams = serializeUrl({
  filter: `(noMostrar=${false})`,
  expand: "sub_categories, category",
  perPage: 1000,
  sort: "+sin_stock, -created",
});
const url =
  "https://ahavah.fly.dev/api/collections/products/records?" + queryParams;
const prodRes = await fetch(url);
const { items: products, message }: ReqInit<Product> = await prodRes.json();
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="icon" type="image/svg+xml" href="/images/ahavah.bmp" />

    <link rel="stylesheet" href="/css/components/Card.css" />
    <link rel="stylesheet" href="/css/categories.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://ahavahmoda.com/search" />
    <title>Lenceria por mayor | Mallas por mayor | Lenceria por docena</title>
    <meta
      name="description"
      content="Ahavahmoda es un fabricante y mayorista de lenceria y mallas en once. Tenemos envios a todo el pais y aceptamos compras por docena, curva y mayuor."
    />
    <meta
      name="keywords"
      content="lenceria por mayor, mallas por mayor, lenceria por docena, mallas por docena, lenceria en once, mallas en once, mayorista de mallas, mayorista de lenceria, lenceria ahavah, mallas ahavah"
    />
  </head>
  <body>
    <section class="product-gallery">
      <Nav />
    </section>
    <div class="search-div">
      <input
        type="text"
        id="search-input"
        class="search-input"
        placeholder="Ingrese Texto De Busqueda..."
      />
    </div>
    <div class="card-wrapper hidden">
      {
        products?.map((product) => {
          return (
            <Card
              preventa={product?.preventa}
              search_label={
                product?.desc.toLowerCase() +
                " art. " +
                product?.art_number.toLowerCase() +
                " " +
                product?.expand?.category?.name.toLowerCase() +
                " " +
                product?.seo_description.toLowerCase() +
                " " +
                product?.seo_title.toLowerCase() +
                " " +
                product?.seo_keywords.toLowerCase() +
                " talle " +
                product?.talles.map((talle) => talle)
              }
              sin_stock={product?.sin_stock}
              precio_doc={product?.precio_docena}
              precio_media_doc={product?.precio_media_docena}
              precio_surtido={product?.precio_surtido}
              precio_mayorista={product?.precio_mayor}
              mostrar_precio={product?.expand?.category?.mostrar_precios}
              art_number={product.art_number}
              thumbnail={`https://ahavah.fly.dev/api/files/${product.collectionId}/${product.id}/${product.thumbnail}`}
            />
          );
        })
      }
    </div>
    <div class="card-wrapper" id="search-products-div">
      {
        products?.map((product) => {
          return (
            <Card
              preventa={product?.preventa}
              search_label={
                product?.desc.toLowerCase() +
                " art. " +
                product?.art_number.toLowerCase() +
                " " +
                product?.expand?.category?.name.toLowerCase() +
                " " +
                product?.seo_description.toLowerCase() +
                " " +
                product?.seo_title.toLowerCase() +
                " " +
                product?.seo_keywords.toLowerCase() +
                " talle " +
                product?.talles.map((talle) => talle)
              }
              sin_stock={product?.sin_stock}
              precio_doc={product?.precio_docena}
              precio_media_doc={product?.precio_media_docena}
              precio_surtido={product?.precio_surtido}
              precio_mayorista={product?.precio_mayor}
              art_number={product.art_number}
              mostrar_precio={product?.expand?.category?.mostrar_precios}
              thumbnail={`https://ahavah.fly.dev/api/files/${product.collectionId}/${product.id}/${product.thumbnail}`}
            />
          );
        })
      }
    </div>
  </body>
  <Footer />
  <script is:inline>
    const search_input = document.getElementById("search-input");
    const card_wrapper = Object.values(
      document.getElementsByClassName("card-wrapper")[0].children
    );
    const search_products_div = document.getElementById("search-products-div");
    search_input.addEventListener("input", (e) => {
      let card_wrapper_cp = card_wrapper.filter((card) => {
        let val = card?.dataset?.search;
        return val
          ? val?.toLowerCase().includes(e.target.value.toLowerCase())
          : false;
      });
      search_products_div.innerHTML = "";
      for (let i = 0; i < card_wrapper_cp.length; i++) {
        search_products_div.appendChild(card_wrapper_cp[i]);
      }
    });
  </script>
  <Share />
</html>
