---
const { imgSrc } = Astro.props;
const { text } = Astro.props;
const { desc } = Astro.props;
const { pdfs_carta } = Astro.props;
const { pdfs_tabla } = Astro.props;
const { id } = Astro.props;

let index = 0;
let isFirstRow = true;
let editedDesc = desc;

if (/<table/.test(desc)) {
  editedDesc = editedDesc
    .replace(
      "<thead>",
      '<thead class="bg-gray-200 border border-gray-300 border-t-1 border-l-1 border-r-1"'
    )
    .replace(
      "<table",
      '<table class="w-full border-t border-l border-r border-gray-300 text-center justify-center items-center"'
    )
    .replace(
      /<td/g,
      '<td class="border border-gray-300 border-t-1 border-l-1 border-r-1"'
    )
    .replace(/<\/thead>/, "</thead>")
    .replace(/<\/tr>/g, () => {
      if (pdfs_tabla.length > 0) {
        // Determinar el contenido del enlace
        const content = isFirstRow
          ? "DATA SHEET"
          : pdfs_tabla[index]?.pdfUrl || "#";
        const linkText = isFirstRow ? "DATA SHEET" : "VIEW";
        const estilos = isFirstRow
          ? ""
          : "text-blue-500 hover:underline transition-all";

        // Cambiar al siguiente índice después de la primera fila
        if (!isFirstRow) index = (index + 1) % pdfs_tabla.length;
        isFirstRow = false;

        // Devolver la fila de la tabla con enlace
        return `<th class="border border-gray-300 border-t-1 border-l-1 border-r-1">
            <a class=${estilos} href="${content}" target="_blank" rel="noopener noreferrer">${linkText}</a>
          </th></tr>`;
      } else {
        return "</tr>";
      }
    });
}
editedDesc = `<div class="flex justify-start items-start flex-col w-full p-4 text-gray-800 font-medium leading-relaxed gap-5">${editedDesc}</div>`;
if (pdfs_carta.length > 0) {
  editedDesc += "<br>";
  pdfs_carta.forEach((pdf) => {
    editedDesc += `<a class="text-blue-500 hover:underline transition-all flex justify-center items-center" href="${pdf.pdfUrl}" target="_blank" rel="noopener noreferrer">${pdf.texto_link}</a><br>`;
  });
}
---

<div
  id={id}
  class="shadow-xl shadow-violeta/40 flex flex-col items-center justify-center rounded-xl w-full"
>
  <img
    src={imgSrc !== "/path-to-placeholder-image.png" ? imgSrc : ""}
    style={imgSrc === "/path-to-placeholder-image.png" ? "display: none;" : ""}
    alt="Housing img"
    class="h-auto w-auto p-5"
    loading="eager"
  />
  <h5 class="p-5 text-[#5C5D56] text-xl font-bold">{text}</h5>
  <p class="w-full" set:html={editedDesc} />
</div>
